<div *ngIf="showNavAndFooter">
  <nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SneakIN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" [ngClass]="{ 'active': currentNav == 'home' }" (click)="selectednav('home')"	aria-current="page" href="#">Home</a>
          <a class="nav-link" [ngClass]="{ 'active': currentNav == 'men' }" (click)="selectednav('men')" routerLink="men">Men</a>
          <a class="nav-link" [ngClass]="{ 'active': currentNav == 'women' }" (click)="selectednav('women')" routerLink="women">Women</a>
          
          <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> 
          <button class="btn btn-primary" (click)="logout()">Logout</button> -->

        </div>

      </div>


      <div>
        <div class="nav-link d-flex ">
          <div class="btn-login ">
            <div class="dropdown login" *ngIf="!user">
              
               <a routerLink="login" class="login"> <h6 class="text">Sign In</h6></a>
               
            </div>
          </div>
          <div>
            <div class="dropdown" *ngIf="user">
              <button class="btn btn-light d-flex"  data-bs-toggle="dropdown" aria-expanded="false">
                <h6 class="text">Hi,{{name|titlecase }}</h6>
                <mat-icon style="margin-left: 5px;">
                  person3
                </mat-icon>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" >Profile</a></li>
                <li><a class="dropdown-item" >Setting</a></li>
                <li><a class="dropdown-item" >Favourites</a></li>
                <li><a class="dropdown-item" (click)="logout()" >logout</a></li>
              </ul>
            </div>
          </div>

          <div class="cartItem">
            <a routerLink="/cart" >
              <mat-icon class="icon">
                shopping_cart
              </mat-icon>
              <!-- <span class="badge bg-dark">{{counter}}</span> -->
            </a>
          </div>
        </div>

      </div>
    </div>

  </nav>
</div>

<router-outlet></router-outlet>

<div *ngIf="showNavAndFooter">
  <app-footer></app-footer>
</div>